<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>中国色</title>
    <link rel="stylesheet" href="./style/normalize.min.css">
    <link rel="stylesheet" href="./style/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.min.js"></script>
    <script src="./script/axios.0.18.0.min.js"></script>
</head>

<body>
    <div id="main">
        <div id="menu" @click="show($event)" class="rotate">
            <div class="TaiChi">
                <div class="yang" style="background: #000">
                    <div class="head"></div>
                </div>
                <div class="yin">
                    <div class="head"></div>
                </div>
            </div>
        </div>
        <div id="list" class="non-display">
            <div id="search">
                <input type="text" value="" placeholder="" v-model="search_name">
                <svg t="1547814109363" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    p-id="2041" xmlns:xlink="http://www.w3.org/1999/xlink" width="200" height="200">
                    <defs>
                        <style type="text/css"></style>
                    </defs>
                    <path d="M465.67936 717.2864c-141.1584 0-256-114.8416-256-256s114.8416-256 256-256 256 114.8416 256 256-114.8416 256-256 256z m0-471.04c-118.57408 0-215.04 96.46592-215.04 215.04s96.46592 215.04 215.04 215.04 215.04-96.46592 215.04-215.04-96.46592-215.04-215.04-215.04z"
                        p-id="2042"></path>
                    <path d="M744.192 767.03744a20.41344 20.41344 0 0 1-14.47936-6.00064l-108.61056-108.61056a20.48 20.48 0 1 1 28.95872-28.95872l108.61056 108.61056a20.48 20.48 0 0 1-14.47936 34.95936z"
                        p-id="2043"></path>
                    <path d="M808.3456 791.01952l-21.72416 21.72416a20.53632 20.53632 0 0 1-28.96384 0l-79.64672-79.64672a20.53632 20.53632 0 0 1 0-28.96384l21.72416-21.72416a20.53632 20.53632 0 0 1 28.96384 0l79.64672 79.64672a20.53632 20.53632 0 0 1 0 28.96384z"
                        p-id="2044"></path>
                </svg>
            </div>
            <a v-bind:href="['#'+color.name]" v-bind:name="color.name" v-for="color in after_filter">
                <div class="item">
                    <div class="TaiChi">
                        <div class="yang" v-bind:style="{background: color.code}">
                            <div class="head"></div>
                        </div>
                        <div class="yin">
                            <div class="head"></div>
                        </div>
                    </div>
                    <div class="name">
                        {{ color.name }}
                    </div>
                </div>
            </a>
        </div>
        <div id="book">
            <div class="book">
                <div class="cover"></div>
                <div v-for="(color, index) in some" v-bind:class="{'lock': is_lock, 'page': true, 'turn': index!=0}"
                    v-bind:key="color.code" v-on:click="click($event, color)">
                    <div>
                        <div class="name">{{ color.name }}</div>
                        <div class="color">
                            <div class="r" v-bind:data-num="color.RGB[0]">
                                <svg width="1em" height="1em" viewbox="0 0 440 440">
                                    <circle cx="220" cy="220" r="170" stroke-width="50" stroke="#000000" fill="none"></circle>
                                    <circle cx="220" cy="220" r="170" stroke-width="60" stroke="#e9e6c4" fill="none"
                                        transform="matrix(0,-1,1,0,0,440)" v-bind:stroke-dasharray="[(1-color.RGB[0]/255)*Math.PI * 2 * 170]+' '+color.RGB[0]/255*Math.PI * 2 * 170">
                                    </circle>
                                </svg>
                            </div>
                            <div class="g" v-bind:data-num="color.RGB[1]">
                                <svg width="1em" height="1em" viewbox="0 0 440 440">
                                    <circle cx="220" cy="220" r="170" stroke-width="50" stroke="#000000" fill="none"></circle>
                                    <circle cx="220" cy="220" r="170" stroke-width="60" stroke="#e9e6c4" fill="none"
                                        transform="matrix(0,-1,1,0,0,440)" v-bind:stroke-dasharray="[(1-color.RGB[1]/255)*Math.PI * 2 * 170]+' '+color.RGB[1]/255*Math.PI * 2 * 170"></circle>
                                </svg>
                            </div>
                            <div class="b" v-bind:data-num="color.RGB[2]">
                                <svg width="1em" height="1em" viewbox="0 0 440 440">
                                    <circle cx="220" cy="220" r="170" stroke-width="50" stroke="#000000" fill="none"></circle>
                                    <circle cx="220" cy="220" r="170" stroke-width="60" stroke="#e9e6c4" fill="none"
                                        transform="matrix(0,-1,1,0,0,440)" v-bind:stroke-dasharray="[(1-color.RGB[2]/255)*Math.PI * 2 * 170]+' '+color.RGB[2]/255*Math.PI * 2 * 170"></circle>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cover turn">
                    <div>
                        中国色
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="./script/main.js"></script>
</body>

</html>